.review-panel-div {
   display: flex;
   gap: 6rem;
}

.review-buttons {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   gap: 2.5rem;
   position: fixed;
   bottom: 22vh;
}

.words-due-h3 {
   position: absolute;
   top: 4%;
   right: 5%;
   z-index: 50;
}

.review-word-h3 {
   font-size: 1.65rem;
   color: #1E1E1E;
}

.review-meaning {

}

.review-word-meaning-flex {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 32vh;
   gap: 1rem;
}

/* .review-buttons button {
   background-color: rgb(74, 74, 74);
} */

.review-results {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   gap: 1rem;

}

.review-results-finish-btn {
   text-align: center;
   position: fixed;
   bottom: 22vh;
}