.review-panel-div {
   display: flex;
   gap: 6rem;
}

.review-buttons {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   gap: 2.5rem;
   position: fixed;
   bottom: 22vh;
}

.reviews-finished-p {
   font-weight: 600;
}

.reviews-results-bold {
   font-size: 1.35rem;
}

.reviews-results-category-div {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.words-due-h3 {
   position: absolute;
   top: 4%;
   right: 5%;
   z-index: 50;
}

.review-word-h3 {
   font-size: 1.65rem;
   color: #1E1E1E;
}

.review-word-meaning-flex {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 32vh;
   gap: 1rem;
}

.reviews-no-reviews-today {
   position: absolute;
   top: 42vh;
   text-align: center;
   line-height: 2rem;
   width: 65vw;
}

.review-results {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 0.75rem;
   position: absolute;
   top: 26vh;
   padding: 10%;
   box-shadow: 1px 0 6px 0px rgba(72, 72, 72, 0.25);
}

.review-results-finish-btn {
   text-align: center;
   position: fixed;
   bottom: 22vh;
}