::-webkit-scrollbar {
   display: none;
   scroll-behavior: smooth;
}




/* SEARCH (KEEP) */
.my-words-search-flex {
   display: flex;
   flex-direction: row;
   justify-content: center;
   /* gap: 1rem; */
   align-items: center;
   /* width: 100%; */
   height: auto;
   position: absolute;
   z-index: 100;
   top: 2.5%;
   right: 3%;
}

.my-words-search-input {
   width: 70vw;
   padding-right: 27%;
   
}

.my-words-search-clear {
   position: absolute;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 16%;
}

.my-words-search-close {
   position: absolute;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 6%;
}

.my-words-search-close line {
   stroke-width: 0.75px;
   stroke: black;
}

.my-words-search-searchbar-clear-flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.my-words-search-icon {
   position: absolute;
   top: 1vh;
   right: 2vw;
   padding: 1px;
}


.panel-wrapper {
   height: 100vh;
   overflow: hidden;
}



/* OTHER */
.my-words-edit-field {
   width: 75px;
}

.my-words-no-results-h3 {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   z-index: 1;
   /* top: -13vh; */
   bottom: 0;
   font-weight: 300;
   font-size: 1rem;
   /* background-color: red; */
}

.my-words-flex-row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 0.7rem;
}

.my-words-flex-row button {
   font-size: 0.8rem;
   background-color: transparent;
}

.my-words-flex-row button svg path {
   fill: rgb(41, 41, 41);
}






/* NEW LAYOUT */
.my-words-list,
.my-words-panel-table {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: calc(100vh - 20vh);
   padding: 0.5rem 1rem;
   position: absolute;
   left: 0;
   top: 20vh;
   gap: 1rem;
   padding-bottom: 22vh;
   overflow-y: auto;
   overflow-x: hidden;
}

.my-words-list-item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: auto;
   padding: 5% 6%;
   padding-right: 7%;

   display: grid;
   grid-template-columns: 3fr 3fr 1fr;

   /* background-color: #C24758; */
   border-radius: 3px;
   box-shadow: 1px 0 6px 0px rgba(72, 72, 72, 0.25);
}

.my-words-edit,
.my-words-delete,
.my-words-edit-cancel,
.my-words-edit-confirm
 {
   width: 20%;
}

.my-words-word {
   font-weight: 600;
   font-size: 1.4rem;
   color: rgb(60, 60, 60);
   /* color: white; */
}

.my-words-meaning {
   font-weight: 500;
   font-size: 0.8rem;
   color: rgb(42, 42, 42);
   /* color: white; */
}

.my-words-known {
   font-weight: 400;
   font-size: 0.8rem;
   color: rgb(42, 42, 42);
   /* color: white; */
}

.my-words-word-stats {
   position: fixed;
   /* position: absolute; */
   top: 10vh;
   left: 2vw;
   list-style: none;
   display: flex;
   flex-direction: row;
   gap: 3rem;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 0.75rem 2rem;
   padding-right: 2.6rem;
}

.my-words-list-item.known * {
      background-color: #323232;
      color: white;
      fill: white;
   }

   .my-words-list-item.learning * {
      background-color: white;
      color: black;
      fill: #323232;
   }

   .my-words-stats-color-indicator-total,
   .my-words-stats-color-indicator-known,
   .my-words-stats-color-indicator-learning {
      width: 10px;
      height: 10px;
      background-color: black;
   }

   .my-words-stats-color-indicator-total {
      background-color: white;
      border: 1px solid black;
   }

   .my-words-stats-color-indicator-known {
      background-color: #323232;
   }

   .my-words-stats-color-indicator-learning {
      border: 1px solid rgb(0, 0, 0);
      background-color: white;
   }

   .my-words-word-stats-li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      
      /* gap: 0.25rem; */
      
   }

   .my-words-stats-header-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
   }

@media (min-width: 768px) {
   .my-words-word-stats {
      /* position: fixed; */
      position: absolute;
      top: 1vh;
      /* top: 10vh; */
      /* left: 2vw; */
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 3rem;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 0.75rem 2rem;
      padding-right: 2.6rem;
   }

   .my-words-list-item {
      /* display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; */
      width: 70%;
      height: auto;
      padding: 2% 6%;
      padding-right: 7%;
      /* background-color: #C24758; */
      border-radius: 3px;
      box-shadow: 1px 0 6px 0px rgba(72, 72, 72, 0.25);
   }

   .my-words-stats-header-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
   }
}

.my-words-word-stats-li {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 0.5rem;
   
}

.my-words-stats-title {
   font-size: 0.8rem;
   color: rgb(42, 42, 42);
}

.my-words-stats-number {
   font-size: 1.2rem;
   font-weight: 600;
   color: rgb(42, 42, 42);
}
















.known-toggle-pill-div {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   margin: 2rem 0;

}

.known-pill-label {
   position: relative;
   z-index: 1;
   background-color: transparent;
   
}







/* 
.my-words-pill-inner-div {
   width: 100%;
   height: 100%;
   background-color: white;
   box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
   display: flex;
   padding: 0 7px;
   align-items: center;
   justify-content: start;
   flex-direction: row;
   transition: all 0.1s ease-in-out;
   position: absolute;
   z-index: 2;
   top: 0;
   left: 0;
   border-radius: 999px;
}

.my-words-pill-inner-div.on {
   background-color: #323232;
   border: 1px solid white;
}

.my-words-pill-inner-div .my-words-pill-switch {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #323232;
   transform: translateX(0);
   transition: all 0.1s ease-in-out;
}

.my-words-pill-inner-div.on .my-words-pill-switch {
   background-color: white;
   transform: translateX(25px);
} */













.my-words-pill-inner-div {
   width: 100%;
   height: 100%;
   background-color: #323232;
   box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
   display: flex;
   padding: 0 7px;
   align-items: center;
   justify-content: start;
   flex-direction: row;
   transition: all 0.1s ease-in-out;
   position: absolute;
   z-index: 2;
   top: 0;
   left: 0;
   border-radius: 999px;
}

.my-words-pill-inner-div.on {
   background-color: #323232;
   background-color: white;
   border: 1px solid white;
}

.my-words-pill-inner-div .my-words-pill-switch {
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #323232;
   background-color: white;
   transform: translateX(0);
   transition: all 0.1s ease-in-out;
}

.my-words-pill-inner-div.on .my-words-pill-switch {
   background-color: white;
   background-color: #323232;
   transform: translateX(25px);
}




.my-words-mobile-actions-open {
   /* background-color: red; */
   width: 100%;
   height: 100%;
   /* padding: 5px; */
   /* width: 10px; */
   /* height: 10px; */
}

.my-words-mobile-actions-modal {
   transform: translateY(60vh);
}

.my-words-mobile-actions-modal.show {
   width: 100vw;
   height: 40vh;
   position: absolute;
   margin: 0;
   transform: translateY(0);
   padding: 2rem;
   padding-left: 5rem;
   left: 0;
   bottom: -10px;
   background-color: #323232;
   z-index: 1000;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   transition: transform 0.25s ease-in-out;
   /* justify-content: space-evenly; */
   /* box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25); */
   /* align-items: end; */
   /* display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(3, 1fr); */


}

.my-words-mobile-actions-modal-close-div {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   opacity: 0;
}

.my-words-mobile-actions-edit-span {
   font-weight: 400;
   font-size: 1.2rem;
}

.my-words-actions-modal-action {
   width: 100%;
   padding: 1rem;
   height: auto;
   display: flex;
   align-items: center;
   /* justify-content: center; */
   gap: 1rem;
}


.delete-confirm-div {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 50vw;
   height: 20vh;
   padding: 1rem;
   position: fixed;
   background-color: white;
   background-color: red;
   box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
   border-radius: 15px;
   top: 30vh;
   left: 25vw;
   z-index: 1000;
}

.delete-confirm-message {
   text-align: center;
}

.delete-confirm-btn {
   background-color: white;
   color: black;

}
