::-webkit-scrollbar {
   display: none;
   scroll-behavior: smooth;
}




/* SEARCH (KEEP) */
.my-words-search-flex {
   display: flex;
   flex-direction: row;
   justify-content: center;
   /* gap: 1rem; */
   align-items: center;
   /* width: 100%; */
   height: auto;
   position: absolute;
   top: 2.5%;
   right: 3%;
}

.my-words-search-input {
   width: 70vw;
   padding-right: 27%;
   
}

.my-words-search-clear {
   position: absolute;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 16%;
}

.my-words-search-close {
   position: absolute;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 6%;
}

.my-words-search-searchbar-clear-flex {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.my-words-search-icon {
   position: absolute;
   top: 1vh;
   right: 2vw;
   padding: 1px;
}


.panel-wrapper {
   height: 100vh;
   overflow: hidden;
}



/* OTHER */
.my-words-edit-field {
   width: 75px;
}

.my-words-no-results-h3 {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: -15vh;
   font-weight: 300;
   font-size: 1rem;
}

.my-words-flex-row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 0.7rem;
}

.my-words-flex-row button {
   font-size: 0.8rem;
   background-color: transparent;
}

.my-words-flex-row button svg path {
   fill: rgb(41, 41, 41);
}






/* NEW LAYOUT */
.my-words-list,
.my-words-panel-table {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: calc(100vh - 20vh);
   padding: 0.5rem 1rem;
   position: absolute;
   left: 0;
   top: 20vh;
   gap: 1rem;
   padding-bottom: 22vh;
   overflow-y: auto;
   overflow-x: hidden;
}

.my-words-list-item {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: auto;
   padding: 5% 6%;
   padding-right: 7%;

   display: grid;
   grid-template-columns: 3fr 3fr 1fr;

   /* background-color: #C24758; */
   border-radius: 3px;
   box-shadow: 1px 0 6px 0px rgba(72, 72, 72, 0.25);
}

.my-words-edit,
.my-words-delete,
.my-words-edit-cancel,
.my-words-edit-confirm
 {
   width: 20%;
}

.my-words-word {
   font-weight: 600;
   font-size: 1.4rem;
   color: rgb(60, 60, 60);
   /* color: white; */
}

.my-words-meaning {
   font-weight: 500;
   font-size: 0.8rem;
   color: rgb(42, 42, 42);
   /* color: white; */
}

.my-words-known {
   font-weight: 400;
   font-size: 0.8rem;
   color: rgb(42, 42, 42);
   /* color: white; */
}

.my-words-word-stats {
   position: fixed;
   /* position: absolute; */
   top: 10vh;
   left: 2vw;
   list-style: none;
   display: flex;
   flex-direction: row;
   gap: 3rem;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 0.75rem 2rem;
   padding-right: 2.6rem;
}

.my-words-list-item.known * {
      background-color: #323232;
      color: white;
      fill: white;
   }

   .my-words-list-item.learning * {
      background-color: white;
      color: black;
      fill: #323232;
   }

   .my-words-stats-color-indicator-total,
   .my-words-stats-color-indicator-known,
   .my-words-stats-color-indicator-learning {
      width: 10px;
      height: 10px;
      background-color: black;
   }

   .my-words-stats-color-indicator-total {
      background-color: white;
      border: 1px solid black;
   }

   .my-words-stats-color-indicator-known {
      background-color: #323232;
   }

   .my-words-stats-color-indicator-learning {
      border: 1px solid rgb(0, 0, 0);
      background-color: white;
   }

   .my-words-word-stats-li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      
      /* gap: 0.25rem; */
      
   }

   .my-words-stats-header-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
   }

@media (min-width: 768px) {
   .my-words-word-stats {
      /* position: fixed; */
      position: absolute;
      top: 1vh;
      /* top: 10vh; */
      /* left: 2vw; */
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 3rem;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 0.75rem 2rem;
      padding-right: 2.6rem;
   }

   .my-words-list-item {
      /* display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; */
      width: 70%;
      height: auto;
      padding: 2% 6%;
      padding-right: 7%;
      /* background-color: #C24758; */
      border-radius: 3px;
      box-shadow: 1px 0 6px 0px rgba(72, 72, 72, 0.25);
   }

   .my-words-stats-header-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
   }
}

.my-words-word-stats-li {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 0.5rem;
   
}

.my-words-stats-title {
   font-size: 0.8rem;
   color: rgb(42, 42, 42);
}

.my-words-stats-number {
   font-size: 1.2rem;
   font-weight: 600;
   color: rgb(42, 42, 42);
}