.account-page {
   width: 85vw;
   height: 95vh;
   /* background-color: var(--grid-item-bg);
   border: 1px solid var(--grid-item-border);
   color: var(--text-color); */
   background-color: white;
   border-radius: 3px;
   position: absolute;
   z-index: 299;
   padding: 3rem;
   bottom: 1.3rem;
   right: 3.55rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
   padding: 5rem 20rem;
}

.delete-account-confirm-tab {
   width: 20vw;
   height: auto;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* background-color: white; */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   /* color: black; */
   gap: 2rem;
   padding: 1rem;
}

.delete-account-confirm-h3 {
   text-align: center;
   font-size: 0.9rem;
   font-weight: 500;
}

.delete-account-confirm-note {
   text-align: center;
   font-size: 0.8rem;
}