.page {
   width: 100vw;
   height: 100vh;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

@media (min-width: 768px) {
   .page {  
      width: 75vw;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
   }
}

@media (min-width: 974px) {
   .page {  
      width: 85vw;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
   }

   
}
/* button.enabled {
   background-color: gray;
} */